<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.second.dao.IntroduceDao">
    <resultMap id="BaseResultMap" type="com.example.second.entity.Introduce">
        <id column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        uid, name, content
    </sql>

    <select id="FindById" resultType="com.example.second.entity.Introduce">
        select * from introduce where id=#{id}
    </select>
    <select id="findAllIntroduces" resultType="com.example.second.entity.Introduce">
        select * from introduce
    </select>

    <select id="findIntroduceByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from introduce where name = #{name,jdbcType=VARCHAR}
    </select>

    <delete id="deleteIntroducesByIds">
        delete from introduce where uid in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getCountIntroduces" resultType="java.lang.Integer">
        select count(uid) as count from introduce
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from introduce
        where uid = #{uid,jdbcType=BIGINT}
    </select>
    <delete id="deleteIntroduceById" parameterType="java.lang.Long">
        delete from introduce
        where uid = #{uid,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.example.second.entity.Introduce">
        insert into introduce (uid, name, age,
        sex)
        values (#{uid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
        #{sex,jdbcType=VARCHAR})
    </insert>
    <insert id="addIntroduce" parameterType="com.example.second.entity.Introduce">
        insert into introduce
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateIntroduce" parameterType="com.example.second.entity.Introduce">
        update introduce
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.second.entity.Introduce">
        update introduce
        set name = #{name,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR}
        where uid = #{uid,jdbcType=BIGINT}
    </update>
</mapper>