<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.second.dao.MajorsDao">
    <resultMap id="BaseResultMap" type="com.example.second.entity.Majors">
        <id column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="belong" property="belong" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        uid, name,belong
    </sql>

    <select id="findAllMajorss" resultType="com.example.second.entity.Majors">
        select * from majors
    </select>

    <select id="findMajorsByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from majors where name = #{name,jdbcType=VARCHAR}
    </select>

    <delete id="deleteMajorssByIds">
        delete from majors where uid in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getCountMajorss" resultType="java.lang.Integer">
        select count(uid) as count from majors
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from majors
        where uid = #{uid,jdbcType=BIGINT}
    </select>
    <delete id="deleteMajorsById" parameterType="java.lang.Long">
        delete from majors
        where uid = #{uid,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.example.second.entity.Majors">
        insert into majors (uid, name, age,
        sex)
        values (#{uid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
        #{sex,jdbcType=VARCHAR})
    </insert>
    <insert id="addMajors" parameterType="com.example.second.entity.Majors">
        insert into majors
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="belong != null">
                belong,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="belong != null">
                #{belong,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateMajors" parameterType="com.example.second.entity.Majors">
        update majors
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="belong != null">
                belong = #{belong,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.second.entity.Majors">
        update majors
        set name = #{name,jdbcType=VARCHAR},
        belong = #{belong,jdbcType=VARCHAR}
        where uid = #{uid,jdbcType=BIGINT}
    </update>
</mapper>